@model IEnumerable<ReservationSystemMVC.Models.RoomEquipment>

@{
    ViewData["Title"] = "Přehled vybavení pokojů";
}

<h1>Přehled vybavení pokojů</h1>

<p>
    <a asp-action="Create">Vytvořit nové vybavení pokojů</a>
</p>
<table class="w3-table-all">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDefault)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <i class="@Html.DisplayFor(modelItem => item.Icon)"></i>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDefault)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomEquipmentId">Upravit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomEquipmentId">Detaily</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomEquipmentId">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Head {
    <script src="https://kit.fontawesome.com/3aeded1a52.js" crossorigin="anonymous"></script>
}