@model IEnumerable<ReservationSystemMVC.Models.Room>

@{
    ViewData["Title"] = "Přehled pokojů";
}

<h1>Přehled pokojů</h1>

<p>
    <a asp-action="Create">Vytvořit nový pokoj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxOccupancy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraBedAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxOccupancy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraBedAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomId">Upravit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomId">Detaily</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomId">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>
