@model IEnumerable<ReservationSystemMVC.Models.RoomType>

@{
    ViewData["Title"] = "Přehled typů pokojů";
}

<h1>Přehled typů pokojů</h1>

<p>
    <a asp-action="Create">Vytvořit nový typ pokoje</a>
</p>
<table class="w3-table-all">
    <thead>
        <tr>
            <th>
                Typ pokoje
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomTypeId">Upravit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomTypeId">Detaily</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomTypeId">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>